.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: #ffffff;
    border-bottom: 1px solid #eee;
    font-family: Arial, sans-serif;
    
  }
  /* Left: Logo  */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}


  /* Center: Navigation Links */
  .navbar-center {
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: #6b7280;
  }
  
  .nav-link {
    cursor: pointer;
    padding-bottom: 3px;
  }
  
  .nav-link.active {
    color: #4f46e5;
    font-weight: bold;
  }
  
  /* Right: Search box, icons, avatar */
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    background-color: #f3f4f6;
    border-radius: 8px;
    padding: 4px 8px;
  }
  
  .search-box input {
    border: none;
    outline: none;
    background: transparent;
    padding-left: 6px;
    font-size: 14px;
    width: 140px;
  }
  
  .search-icon {
    color: #6b7280;
  }
  
  .icon {
    font-size: 16px;
    cursor: pointer;
    color: #374151;
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  